# Terraform .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore any .terraform directories
**/.terraform/*

# Ignore .tfvars files that may contain sensitive information
terraform.tfvars

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform plan output files
*.tfplan

# Ignore sensitive files
.sensitive.*

# Ignore any temporary files
*.tfstate.*.backup
*.tfstate.*.tmp
*.tfstate.*.log
*\@*.tf